<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Check my shoot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<h2 class="materiel">ajoute ton matériel :</h2>
    <%= render "lists/flash" %>
    <h2 class="checklist">ta checklist :</h2>-->

    <div class="container main">
      <header>
        <a href="https://checkmyshoot.herokuapp.com"><img class="serenade-logo" src="/images/blanccrop.png"></a>
        <h1 style="text-align:center">organise tes tournages, tourne sereinement.</h1>
      </header>

      <%= yield %>
    </div>

  </body>
</html>
