<!DOCTYPE html>
<html>
  <head>
    <title>checkmyShoot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <a href="https://checkmyshoot.herokuapp.com"><img class="image" src="/images/blanccrop.png"></a>
  <br>
  <br>
  <br>

<h1 style="text-align:center">organise tes tournages,<br>
tourne sereinement.</h1>
    <div class="container-all">
      <h2 class="materiel">ajoute ton matériel :</h2>
      <%= render "lists/flash" %>
      <h2 class="checklist">ta checklist :</h2>
      
    </div>
      <%= yield %>
  </body>
</html>
